 * { 
box-sizing: border-box;
 }

body, html { 
    width: 100%;
    height: 100%;
    margin: 0;
    padding:0;
}                                                        
body{ 
    background-color:#fafafa;
	font-size: 1rem;
    font-family: 'Raleway', sans-serif;
    color: rgb(97, 96, 96);
	color: rgb(78, 77, 77);  
}
.container {
	padding-left: 0;
	padding-right: 0;
}
.bg {
	background-position-x: center;
	background-position-y: top;
	background-repeat: no-repeat;
}
img {
	margin-left: auto;
	margin-right: auto;
}
.img-responsive { 
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
.img-resppond-half{ 
	margin-left: 3rem;
	margin-right: 3rem;

}
.home-banner img, .feature-banner img { 
	max-width: 100%;
	height: auto;
	display: flex;
	justify-content: center;
	
}
.home-banner img, .logo-bg img { 
	align-items: center;
}
.home-container {
	background-image: url('../img/bike-path2021.png');
	background-attachment: fixed;
	background-position-x: center;
	background-repeat: no-repeat;
	 background-size: contain;
	 min-height: 300px;
	 width: 100%;	 
}
.home-text{ 
	text-align: center;
	width: 100%;
	margin-top: -110px;
	margin-bottom: 40px;	
}
.about-me img{ 
	padding: 10px;
	width: 100%;
}
.contact-bg {
    background-image:url('../img/path.png');
}
a, a:hover, a:focus{
	text-decoration: none;
}
a {
    color:#a6bc0a;
}
a:focus { 
    outline: none; 
}
.btn-eight {
    border: 2px solid #aaa;
    width: 100%;
}
.btn-eight:hover 
{ color:#aaa; }
.ease{
	-webkit-transition: all .4s ease-in-out;
	   -moz-transition: all .4s ease-in-out;
		 -o-transition: all .4s ease-in-out;
			transition: all .4s ease-in-out;
}
.ease:hover{
	-webkit-transition: all .4s ease-in-out;
	   -moz-transition: all .4s ease-in-out;
		 -o-transition: all .4s ease-in-out;
			transition: all .4s ease-in-out;
}
/*p{ color: #777;
	font-weight:400;
	font-size: 14px;
	line-height:21px;
 }
.white-bg {
    background-color:#fff;
}*/
.separator-section{
	padding: 100px 0;
}
.add-top-quarter{
	margin-top: 30px;
}
.no-gutter{
	margin-left: -15px !important;
}
.no-pad{
	padding: 0 !important;
}
.valign{
	position: relative;
  	top: 50%;
  	-webkit-transform: translateY(-50%);
  	-ms-transform: translateY(-50%);
  	transform: translateY(-50%);
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    transform: translate(0, 0);
}
/*showcase*/
.showcase-single-content{
	padding-top: 0px;
	padding-bottom: 0px;
	margin-top: 30px; 
	margin-bottom: 30px;
}
.showcase-single-item-wrap{
	padding: 24px;
}
.showcase-single-item-inner img{ 
	width: 100%;
}		
.shadow {
    box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.4);
}
/*.showcase-single-content h5{
	font-weight: 500;
	font-size: 16px;
	line-height: 23px;
	margin-top: 20px;
	margin-bottom: 0;
    color:#888;
	color: #6c757d;
}
.showcase-single-content h4{
	font-weight: 200;
	font-size: 12px;
	line-height: 19px;
	margin-top: 0px;
}
.showcase-single-content h6>span{
	font-weight: 400;
	font-style: italic;
	padding: 3px;
}*/
/**********frame******/
.frame5 {
    font-size: 16px;
    padding: 0px;
    background-color: #fff;
    border: 9px ridge #777;
    border-color: #bfbfbf;
    position: relative;
    transition: 0.5s;
    display: block;
    height: auto;
}
/******   paypal ***/
#paypal-button-container{
    margin: 20px;
    max-width: 150px;
}
.pay-op img {
    max-width: 250px;
}
td, th, tr {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    border: 1px solid #ccc;
    padding: 0 4px;
}
.green{
    color:#a6bc0a;
}
.copy-rt{
    font-size: 13px;
}







