
body { 
	font-family: 'Open Sans', sans serif;
	overflow-x:hidden; 
}
.featured {
	background-color:#e0e54c;
}
.about-me img{ 
	padding: 10px;
	width: 100%;
}
/*.color-block-5 {
    height: 200px;
    width: 200px;
}
.back-color {
	background-image: var(--bs-gradient);
	background-image: linear-gradient (to top, #30cfd0 0,#330867 100%);
}
.bg-success {
	--bs-bg-opacity: .5;
	background-color: rgba(var(--bs-success-rgb), var(--bs-bg-opacity)) !important;
  }*/
a, a:hover, a:focus{
	text-decoration: none;
}
a {
    color:#e0e54c;
}
a:focus { 
    outline: none; 
}
.showcase-single-content{
	margin-top: 20px; 
	margin-bottom: 30px;
	background-color: white;
}
.showcase-single-item-wrap{
	padding: 20px;
}
.showcase-single-item-inner img{ 
	width: 100%;
}		
.shadow {
    -webkit-box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.4);
 	box-shadow: 7px 7px 20px rgba(0, 0, 0, 0.4);
 }  
/* Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { }*/

/* Medium devices (tablets, 768px and up)
@media (min-width: 768px) { }*/

/* Large devices (desktops, 992px and up)
@media (min-width: 992px) { }*/

/* X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { }*/

/* XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { }*/







