body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Set padding to display errors that occur during databinding */
.padding-error {
    padding-top: 20px;
}

@media only screen and (max-width: 767px) {
    .nofloat {
        float: none;
        padding: 10px 15px;
    }
}
.contact-item{
    width: 100%;

}
/* Add arrow at bottom of section */
.path-arrow {   
    background-image: url('../img/path.png');

    background-position: center;
    background-size: 100px;
    background-repeat:no-repeat;


}
.bottom-arrow:before{
	-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #e1e1e1 transparent transparent;
    border-image: none;
    border-right: 10px solid transparent;
    border-style: solid;
    border-width: 10px;
    bottom: -20px;
    content: "";
    display: block;
    height: 0;
    position: absolute;
    width: 0;
}
.bottom-arrow:before,
.bottom-arrow:after{
	left: 0;
    margin: 0 auto;
    right: 0;
}
.bottom-arrow:after{	
	-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: #fff transparent transparent;
    border-image: none;
    border-right: 10px solid transparent;
    border-style: solid;
    border-width: 10px;
    bottom: -18px;
    content: "";
    display: block;
    height: 0;
    position: absolute;
    width: 0;
}
.bottom-arrow.light:after{	
    border-color: #f7f7f7 transparent transparent;
}