@{  Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "ToscaTech | Web Master";
}
  
        <div class="halfheight">
            <section id="kenburns-slideshow">
                <div class="kenburns-title-holder fullheight text-center">
                    <div class="valign">
                        <div id="kenburns-description">
                            <div id="slide-title">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
        <section class="page-section">
            <div class="container">
                <div class="row">
                    <div class="text-center">
                        <img class="img-responsive" alt="featured websites" src="~/img/featuredweb.jpg" />
                    </div>
                    <!--FIRSTCARECONNECTS-->
                    <section>
                        <article class="col-md-12 showcase-single-content shadow">
                            <div class="row">
                                <article class="col-md-8 text-left showcase-single-item-wrap">
                                    <div class="showcase-single-item">
                                        <div class="showcase-single-item-inner text-center">
                                            <h1 class="add-top-quarter sub-heading"><span>First Care Connects</span></h1>
                                            <div class="single-project-slider-wrap">
                                                <ul class="single-project-slider bxslider">
                                                    <li>
                                                        <img class="img-responsive" alt="First Care Connects - home page" src="~/img/First-care-connects-3.jpg" />
                                                    </li>
                                                    <li>
                                                        <img class="img-responsive" alt="First Care Connects - dashboard page" src="~/img/fcc-dashbd.png" />
                                                    </li>
                                                    <li>
                                                        <img class="img-responsive" alt="First Care Connects - chart page" src="~/img/fcc-chart.png" />
                                                    </li>
                                                </ul>
                                            </div>

                                        </div>
                                    </div>
                                </article>

                                <article class="col-md-4 text-left showcase-single-item-wrap add-top-quarter">
                                    <div class="showcase-single-item">
                                        <div class="showcase-single-item-inner text-left">
                                            <h3 class="sub-heading">WEB APPLICATION</h3>
                                            <p>The furture of Home Health Monitoring (teleHealth) allows patients to live independently. THey can monitor their health vitals for their physicians, caregivers, and family, who can view "live" dashboards of results of blood pressure, weight, glucose, and pulse.</p>
                                            <p>ACCOUNT LOGIN, SERVER-SIDE "LIVE" DATA, DASHBOARD OF CHARTS, HISTORY TABLES, DEVELOPED A PRODUCT, SERVICE
                                            <p>2014</p>
                                            <h5></h5>
                                        </div>
                                    </div>
                                </article>
                            </div>
                        </article>


                    </section>
                    <!--Christian Companies LLC--> 
                    <section>
                        <div class="row">
                            <article class="col-md-12 showcase-single-content shadow">
                                <div class="row">
                                    <article class="col-md-8 text-left showcase-single-item-wrap">
                                        <div class="showcase-single-item">
                                            <div class="showcase-single-item-inner text-center">
                                                <h1 class="add-top-quarter sub-heading"><span>Christian Companies LLC</span></h1>
                                                <div class="single-project-slider-wrap">
                                                    <ul class="single-project-slider bxslider">
                                                        <li>
                                                            <img class="img-responsive" alt="Grand Legacy Village - home page" src="~/img/henning-1.png" />
                                                        </li>
                                                        <li>
                                                            <img class="img-responsive" alt="Grand Legacy Village - history portal page" src="~/img/henning-2.png" />
                                                        </li>
                                                        <li>
                                                            <img class="img-responsive" alt="Grand Legacy Village - background page" src="~/img/henning-3.png" />
                                                        </li>
                                                    </ul>
                                                </div>

                                            </div>
                                        </div>
                                    </article>
                                    <article class="col-md-4 text-left showcase-single-item-wrap add-top-quarter">
                                        <div class="showcase-single-item">
                                            <div class="showcase-single-item-inner text-left">
                                                <h3 class="sub-heading">WEB APPLICATION</h3>
                                                <p>This real-estate property business website was created to produce all of the details of a multi-million dollar waterfront property for sale. A detailed print brochure was translated to this live website. </p>
                                                <p>DRONE VIDEO<br /> SINGLE PAGE NAVIGATION<br /> ANIMATION<br /> MOBILE RESPONSIVE<br /> CONTACT FORM </p>
                                                <p>2015</p>
                                                <h5> <a href="http://www.christiancompaniesllc.com/" target="_blank" class="btn btn-eight" role="button">visit website</a></h5>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </article>
                        </div>
                    </section>
                    <!--HIGHTECHWATERPROOFING-->
                    <section>
                        <div class="row">
                            <article class="col-md-12 showcase-single-content shadow">
                                <div class="row">
                                    <article class="col-md-8 text-left showcase-single-item-wrap">
                                        <div class="showcase-single-item">
                                            <div class="showcase-single-item-inner text-center">
                                                <h1 class="add-top-quarter sub-heading"><span>High tech waterproofing</span></h1>
                                                <img class="img-responsive" alt="hightechwaterproofing.com - home page" src="~/img/htwaterproofing-3.jpg" />
                                            </div>
                                        </div>
                                    </article>
                                    <article class="col-md-4 text-left showcase-single-item-wrap add-top-quarter">
                                        <div class="showcase-single-item">
                                            <div class="showcase-single-item-inner text-left">
                                                <h3 class="sub-heading">WEB APPLICATION</h3>
                                                <p>High Tech Waterproofing is leading the way with the latest techniques and installing the best materials in the industry for waterproofing and encapsulation. This start-up company has grown its marketing presence with this website.</p>
                                                <p>LOGO CREATION<br /> DESIGN CREATION<br /> BROCHURE CREATION<br /> MULTIPLE CONTACT FORMS<br /> SEARCH OPTIMIZATION<br /> PRODUCT SPECIFIC ICONS</p>
                                                <p>2014</p>
                                                <h5>  <a href="http://www.hightechwaterproofing.com/" target="_blank" class="btn btn-eight" role="button">visit website</a></h5>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </article>
                        </div>
                    </section>
                    <!--RICKMAXWELL-->
                    <section>
                        <div class="row">
                            <article class="col-md-12 showcase-single-content shadow">
                                <div class="row">
                                    <article class="col-md-8 text-left showcase-single-item-wrap">
                                        <div class="showcase-single-item">
                                            <div class="showcase-single-item-inner text-center">
                                                <h1 class="add-top-quarter sub-heading"><span>Rick Maxwell - ARTIST</span></h1>
                                                <img class="img-responsive" alt="Rick Maxwell - website home page" src="~/img/maxwell-3.jpg" />
                                            </div>
                                        </div>
                                    </article>
                                    <article class="col-md-4 text-left showcase-single-item-wrap add-top-quarter">
                                        <div class="showcase-single-item">
                                            <div class="showcase-single-item-inner text-left">
                                                <h3 class="sub-heading">WEB APPLICATION</h3>
                                                <p>Rick Maxwell is a Dallas Wood Scupltor and a Professor of Art. His 'cold compression' Bent Wood Installation at the Omni Hotel is the first of its kind in the United States</p>
                                                <p>2014</p>
                                                <p>RETINA RESOLUTION<br /> MOBILE RESPONSIVE<br /> The importance of high-resolution for large screen Retina rendering, was of paramont importance to this artist. A user-friendly experience for smartphones and tablets allowed easy access to a vast portfolio of work.</p>
                                                <h5><a href="http://www.rickmaxwell.net/" target="_blank" class="btn btn-eight" role="button">visit website</a></h5>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </article>
                        </div>
                    </section>
                    <!--NATALIE.MACELLAIO-->
                    <section>
                        <div class="row">
                            <article class="col-md-12 showcase-single-content shadow">
                                <div class="row">
                                    <article class="col-md-8 text-left showcase-single-item-wrap">
                                        <div class="showcase-single-item">
                                            <div class="showcase-single-item-inner text-center">
                                                <h1 class="add-top-quarter sub-heading"><span>NATALIE MACELLAIO - ARTIST</span></h1>
                                                <img class="img-responsive" alt="Natalie Macellaio - website home page" src="~/img/natalieMacellaio.png" />
                                            </div>
                                        </div>
                                    </article>
                                    <article class="col-md-4 text-left showcase-single-item-wrap add-top-quarter">
                                        <div class="showcase-single-item">
                                            <div class="showcase-single-item-inner text-left">
                                                <h3 class="sub-heading">WEB APPLICATION</h3>
                                                <p>Natalie Macellaio is a Professor of Sculpture at Brookhaven Community College in Dallas, Texas. She also is a co-creator of <a href="http://themotherload.org">"The Mother Load Project"</a>, a network of Professional Artists, who are also Mothers.  </p>
                                                <p>WEB APPLICATION <br /> </p>
                                                <p>2015</p>
                                                <p>PORTFOLIO FILTER<br /> MOBILE RESPONSIVE <br/> The multi-facets of Natalie's metal sculpting creations and themed gallery exhibits are shown directly on her home page allowing visitors select thier area of interest quickly. </p>
                                                <h5><a href="http://www.natalie.macellaio.net/" target="_blank" class="btn btn-eight" role="button">visit website</a></h5>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </article>
                        </div>
                    </section>
                    <!--Advotek-->
                    <section>
                        <div class="row">
                            <article class="col-md-12 showcase-single-content shadow">
                                <div class="row">
                                    <article class="col-md-8 text-left showcase-single-item-wrap">
                                        <div class="showcase-single-item">
                                            <div class="showcase-single-item-inner text-center">
                                                <h1 class="add-top-quarter sub-heading"><span>ADVOTEK INC - TECHNOLOGY SERVICE AND SALES</span></h1>
                                                <img class="img-responsive" alt="Advotek Inc. - website home page" src="~/img/advotek.jpg" />
                                            </div>
                                        </div>
                                    </article>
                                    <article class="col-md-4 text-left showcase-single-item-wrap add-top-quarter">
                                        <div class="showcase-single-item">
                                            <div class="showcase-single-item-inner text-left">
                                                <h3 class="sub-heading">WEB APPLICATION</h3>
                                                <p>Advotek Inc. had been selling and servicing technology products for over 40 years to the Chicagoland area. As a certified WBE, they have been a technology support Prime Contractor for 300+ schools for Chicago Public Schools (CPS). Their target focus for this website is small business clients.</p>
                                                <p>2016</p>
                                                <p> THIRD REVISION FOR THIS CLIENT<br /> LOGO DESIGN<br /> WEB DESIGN <br />The targeted message was to produce an effortless experience for users to view Advotek's services for it's history of clients, the expertise of their technical skills, the array of tecnology partners, and the optimization of managed services for the future.</p>
                                                <h5><a href="http://www.advotek.biz/" target="_blank" class="btn btn-eight" role="button">visit website</a></h5>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </article>
                        </div>
                    </section>
                    <!--Susan Mollet-->
                    <section>
                        <div class="row">
                            <article class="col-md-12 showcase-single-content shadow">
                                <div class="row">
                                    <article class="col-md-8 text-left showcase-single-item-wrap">
                                        <div class="showcase-single-item">
                                            <div class="showcase-single-item-inner text-center">
                                                <h1 class="add-top-quarter sub-heading"><span>Susan Mollet - artist</span></h1>
                                                <img class="img-responsive" alt="Susan Mollet - website home page" src="~/img/susanMollet.png" />
                                            </div>
                                        </div>
                                    </article>
                                    <article class="col-md-4 text-left showcase-single-item-wrap add-top-quarter">
                                        <div class="showcase-single-item">
                                            <div class="showcase-single-item-inner text-left">
                                                <h3 class="sub-heading">WEB APPLICATION</h3>
                                                <p>"In my ceramic pieces, art does reflect life...my life. I am influenced by both daily situations and life changing events and the clay is my medium of expression." <br />Susan Mollet</p>
                                                <p>2015</p>
                                                <p>HTML5 CSS3<br /> ANIMATION TRANSITIONS<br /> ONE-PAGE PARALLAX SCROLLING<br /> Susan's featured art pieces tell her story. it was important to see all sides of her work. When hovering over most of her pieces, they animate to a flip on the back/front side, many times displaying close detail. Parallax srolling renders interesting dimension from one category of work to another.</p>
                                                <h5><a href="http://www.susanmollet.com/" target="_blank" class="btn btn-eight" role="button">visit website</a></h5>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </article>
                        </div>
                    </section>
                    <!--RCA Builders-->
                    <section>
                        <div class="row">
                            <article class="col-md-12 showcase-single-content shadow">
                                <div class="row">
                                    <article class="col-md-8 text-left showcase-single-item-wrap">
                                        <div class="showcase-single-item">
                                            <div class="showcase-single-item-inner text-center">
                                                <h1 class="add-top-quarter sub-heading"><span>RCA Custom Building and Remodeling</span></h1>
                                                <img class="img-responsive" alt="RCA Builers website home page" src="~/img/rcaweb-3.jpg" />
                                            </div>
                                        </div>
                                    </article>
                                    <article class="col-md-4 text-left showcase-single-item-wrap add-top-quarter">
                                        <div class="showcase-single-item">
                                            <div class="showcase-single-item-inner text-left">
                                                <h3 class="sub-heading">WEB APPLICATION</h3>
                                                <p>RCA Custom Building and Remodeling is a General Contractor specializing in new home construction, residential remodeling and commercial construction in DuPage County, Illinois</p>
                                                <p>2014</p>
                                                <p>3RD VERSION FOR CLIENT<br />FILTERED ISOTOPE PORTFOLIO<br />SINGLE-PAGE TOUCH SCROLL<br /> MOBILE RESPONSIVE<br /> Rich Anderson, the owner of RCA Custom Building and Remodeling has a portfolio from building a totally new home and every aspect of it, to targeted rooms and room additions.  It was important to easily search categories of his vast portfolio.  Isotope filtering and sorting, as well as a single page for touch scrolling made this site perfect for Rich's clients.</p>
                                                <h5><a href="http://www.rcacustombuildingandremodeling.com" target="_blank" class="btn btn-eight" role="button">visit website</a></h5>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </article>
                        </div>
                    </section>
                    <!--Industrial Battery-->
                    <section>
                        <div class="row">
                            <article class="col-md-12 showcase-single-content shadow">
                                <div class="row">
                                    <article class="col-md-8 text-left showcase-single-item-wrap">
                                        <div class="showcase-single-item">
                                            <div class="showcase-single-item-inner text-center">
                                                <h1 class="add-top-quarter sub-heading"><span>Industrial Battery</span></h1>
                                                <img class="img-responsive" alt="Industrial battery - website home page" src="~/img/industrialbat-3.png" />
                                            </div>
                                        </div>
                                    </article>
                                    <article class="col-md-4 text-left showcase-single-item-wrap add-top-quarter">
                                        <div class="showcase-single-item">
                                            <div class="showcase-single-item-inner text-left">
                                                <h3 class="sub-heading">WEB APPLICATION</h3>
                                                <p>Industrial Battery offers extensive knowledge and superior service when it comes to your businesses battery and charger needs.</p>
                                                <p>2012</p>
                                                <p>ONLINE PRODUCT CATALOG<br />UPDATE OLD WEBSITE<br /> An established business that sells and services industrial batteries, needed to show their paper catalogue of products online.</p>
                                                <img class="img-responsive" alt="Industrial Battery - product list example" src="~/img/Ind-bat-product.png" />
                                                <h5><a href="http://www.industrialbatteryinc.com/" target="_blank" class="btn btn-eight" role="button">visit website</a></h5>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </article>
                        </div>
                    </section>
                </div>
            </div>
        </section>
     
 
 