@{  Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Tosca Ragnini | Web Master";
}
  
<div class="halfheight">
    <section id="kenburns-slideshow">
        <div class="kenburns-title-holder fullheight text-center">
            <div class="valign">
                <div id="kenburns-description">
                    <div id="slide-title">
                    </div>
                </div>
            </div>
        </div>
    </section>
</div> 
<section class="page-section">
    <div class="text-center logo-bg">
        <img class="img-responsive" alt="featured websites" src="~/img/featuredweb.jpg" />
    </div>
    <div class="container">
        <div class="row">
            <div id="path-arrow" class="animated bounce">
            </div>
            <!--Lisa Ehrich-->
            <section>
                <div class="row">
                    <article class="col-md-12 showcase-single-content shadow">
                        <div class="row">
                            <article class="col-md-8 text-left showcase-single-item-wrap">
                                <div class="showcase-single-item">
                                    <div class="showcase-single-item-inner text-center">
                                        <h1 class="add-top-quarter sub-heading"><span>Lisa Ehrich</span></h1>
                                        <img class="img-responsive" alt="Lisa Ehrich " src="~/img/lisaehrich.jpg" />
                                    </div>
                                </div>
                            </article>
                            <article class="col-md-4 text-left showcase-single-item-wrap add-top-quarter">
                                <div class="showcase-single-item">
                                    <div class="showcase-single-item-inner text-left">
                                        <h3 class="sub-heading">WEB APPLICATION</h3>
                                        <p>Lisa's website showcases her strength in large scale ceramic installations as well as samples of nature's influence in ceramic art objects.</p>
                                        <p>A contemporary website- including Lisa's biography, is a responsive collection of work- for her artistic followers to view. </p>
                                        <p>RESPONSIVE ART SHOWCASE<br />  CONTACT FORM </p>
                                        <p>2018</p>
                                        <h5> <a href="http://www.lisaehrich.com/" target="_blank" class="btn btn-eight" role="button">visit website</a></h5>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </article>
                </div>
            </section>
            <!--    RBR-->
            <section>
                <div class="row">
                    <article class="col-md-12 showcase-single-content shadow">
                        <div class="row">
                            <article class="col-md-8 text-left showcase-single-item-wrap">
                                <div class="showcase-single-item">
                                    <div class="showcase-single-item-inner text-center">
                                        <h1 class="add-top-quarter sub-heading"><span>RBR MACHINE TOOL INC</span></h1>
                                        <img class="img-responsive" alt="RBR " src="~/img/rbr.jpg" />
                                    </div>
                                </div>
                            </article>
                            <article class="col-md-4 text-left showcase-single-item-wrap add-top-quarter">
                                <div class="showcase-single-item">
                                    <div class="showcase-single-item-inner text-left">
                                        <h3 class="sub-heading">WEB APPLICATION</h3>
                                        <p>The owner of RBR Machine Tools has been a rep of World Class Machine Tools for over 38 years. His requirements were two fold: he wanted to add special info about each of his manufacture lines, himself -daily, as well as allow visitors to link to each individual website for thorough product information.</p>
                                        <p>This website uses links to the RBR Google Docs folders for each of manufacturer lines and "line card" access to each manufacturing company's website.</p>
                                        <p>GOOGLE DOCS LINKS<br />  CONTACT FORM </p>
                                        <p>2018</p>
                                        <h5> <a href="http://www.rbrmachinetools.com/" target="_blank" class="btn btn-eight" role="button">visit website</a></h5>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </article>
                </div>
            </section>
            <!--Resin8-->
            <section>
                <div class="row">
                    <article class="col-md-12 showcase-single-content shadow">
                        <div class="row">
                            <article class="col-md-8 text-left showcase-single-item-wrap">
                                <div class="showcase-single-item">
                                    <div class="showcase-single-item-inner text-center">
                                        <h1 class="add-top-quarter sub-heading"><span>Resin8, Inc.</span></h1>
                                        <img class="img-responsive" alt="resin-8.com - home page" src="~/img/resin8.jpg" />
                                    </div>
                                </div>
                            </article>
                            <article class="col-md-4 text-left showcase-single-item-wrap add-top-quarter">
                                <div class="showcase-single-item">
                                    <div class="showcase-single-item-inner text-left">
                                        <h3 class="sub-heading">WEB APPLICATION</h3>
                                        <p>Resin8 Epoxy products have chemical properties that have been formulated, over the past 50 years, to fulfill the resiliencey coating, lining, caulking, and grouting requirements of industries and governments.</p>
                                        <p>This website has accessible product descriptions, Technical Data Sheets and Safety Data Sheets for each product, clearly denoting their products strenghts.  </p>
                                        <p>MARKETS FILTER<br /> PDF DATA SHEETS LINKS<br /> ANIMATION<br /> MOBILE RESPONSIVE<br /> CONTACT FORM </p>
                                        <p>2016</p>
                                        <h5> <a href="http://www.resin-8.com/" target="_blank" class="btn btn-eight" role="button">visit website</a></h5>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </article>
                </div>
            </section>           
            <!--Christian Companies LLC-->
            <section>
                <div class="row">
                    <article class="col-md-12 showcase-single-content shadow">
                        <div class="row">
                            <article class="col-md-8 text-left showcase-single-item-wrap">
                                <div class="showcase-single-item">
                                    <div class="showcase-single-item-inner text-center">
                                        <h1 class="add-top-quarter sub-heading"><span>Christian Companies LLC</span></h1>
                                        <div class="single-project-slider-wrap">
                                            <ul class="single-project-slider bxslider">
                                                <li>
                                                    <img class="img-responsive" alt="Grand Legacy Village - home page" src="~/img/henning-1.jpg" />
                                                </li>
                                                <li>
                                                    <img class="img-responsive" alt="Grand Legacy Village - history portal page" src="~/img/henning-2.jpg" />
                                                </li>
                                                <li>
                                                    <img class="img-responsive" alt="Grand Legacy Village - background page" src="~/img/henning-3.jpg" />
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </article>
                            <article class="col-md-4 text-left showcase-single-item-wrap add-top-quarter">
                                <div class="showcase-single-item">
                                    <div class="showcase-single-item-inner text-left">
                                        <h3 class="sub-heading">WEB APPLICATION</h3>
                                        <p>This real-estate property business website was created to produce all of the details of a multi-million dollar waterfront property for sale. A detailed print brochure was translated to this live website. </p>
                                        <p>DRONE VIDEO<br /> SINGLE PAGE NAVIGATION<br /> ANIMATION<br /> MOBILE RESPONSIVE<br /> CONTACT FORM </p>
                                        <p>2015</p>
                                        <h5> <a href="http://www.christiancompaniesllc.com/" target="_blank" class="btn btn-eight" role="button">visit website</a></h5>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </article>
                </div>
            </section>
            <!--MMC-->
            <section>
                <div class="row">
                    <article class="col-md-12 showcase-single-content shadow">
                        <div class="row">
                            <article class="col-md-8 text-left showcase-single-item-wrap">
                                <div class="showcase-single-item">
                                    <div class="showcase-single-item-inner text-center">
                                        <h1 class="add-top-quarter sub-heading">MIDTOWN MECHANICAL CORP.</h1>
                                        <h4> HEATING VENTILATION & AIR CONDITIONING SPECIALISTS</h4>
                                        <img class="img-responsive" alt="Midtown Mechanical Corporation. - website home page" src="~/img/mmc.jpg" />
                                    </div>
                                </div>
                            </article>
                            <article class="col-md-4 text-left showcase-single-item-wrap add-top-quarter">
                                <div class="showcase-single-item">
                                    <div class="showcase-single-item-inner text-left">
                                        <h3 class="sub-heading">WEB APPLICATION</h3>
                                        <p>Midtown Mechanical Corporation (MMC) is a Chicagoland based, full-service mechanical contractor specializing in residential, industrial and commercial HVAC, energy-efficient air conditioners, furnaces, climate control humidifiers, learning thermostat installation, boilers, custom sheet metal work and ductwork for the Chicagoland areas. Their target focus for this website is to maintain their installed base of customers by inviting them to contact MMC through an online contact form, and acquire new customers by showcasing Midtown Mechanical's scope of completed projects.</p> 
                                        <p> THIRD WEBSITE FOR mmc CLIENT<br /> LOGO DESIGN<br /> WEB DESIGN <br />CONTENT and IMAGE CREATION<br /> MAIL CHIMP EMAIL CAMPAIGNS</p>
                                        <p>2016</p> 
                                        <h5><a href="http://midtown.apphb.com/" target="_blank" class="btn btn-eight" role="button">visit website</a></h5>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </article>
                </div>
            </section>
            <!-- AJ Millwork-->
            <section>
                <div class="row">
                    <article class="col-md-12 showcase-single-content shadow">
                        <div class="row">
                            <article class="col-md-8 text-left showcase-single-item-wrap">
                                <div class="showcase-single-item">
                                    <div class="showcase-single-item-inner text-center">
                                        <h1 class="add-top-quarter sub-heading"><span>AJ Millwork</span></h1>
                                        <img class="img-responsive" alt="resin-8.com - home page" src="~/img/ajmillwork.jpg" />
                                    </div>
                                </div>
                            </article>
                            <article class="col-md-4 text-left showcase-single-item-wrap add-top-quarter">
                                <div class="showcase-single-item">
                                    <div class="showcase-single-item-inner text-left">
                                        <h3 class="sub-heading">WEB APPLICATION</h3>
                                        <p>AJ Millwork is a custom craftsmen millwork company with a vast portfolio of custom build designs.
                                        Their website showcases the essence of their creative and custom talents - Distinctive Design, Exceptional Quality and Remarkable Results.</p>
                                        <p>FILTERED PORTFOLIO<br />CLEAN SIMPLE SERVICES LIST<br /> ANIMATION<br /> MOBILE RESPONSIVE<br /> CONTACT FORM </p>
                                        <p>2017</p>
                                        <h5> <a href="http://www.a-jmillwork.com/" target="_blank" class="btn btn-eight" role="button">visit website</a></h5>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </article>
                </div>
            </section>           
            <!--RICKMAXWELL-->
            <section>
                <div class="row">
                    <article class="col-md-12 showcase-single-content shadow">
                        <div class="row">
                            <article class="col-md-8 text-left showcase-single-item-wrap">
                                <div class="showcase-single-item">
                                    <div class="showcase-single-item-inner text-center">
                                        <h1 class="add-top-quarter sub-heading"><span>Rick Maxwell - ARTIST</span></h1>
                                        <img class="img-responsive" alt="Rick Maxwell - website home page" src="~/img/maxwell-3.jpg" />
                                    </div>
                                </div>
                            </article>
                            <article class="col-md-4 text-left showcase-single-item-wrap add-top-quarter">
                                <div class="showcase-single-item">
                                    <div class="showcase-single-item-inner text-left">
                                        <h3 class="sub-heading">WEB APPLICATION</h3>
                                        <p>Rick Maxwell is a Wood Scupltor and a Professor of Art. His "Cold Compression" Bent Wood Installation at the Omni Hotel is the first of its kind in the United States.</p>
                                        <p>2018</p>
                                        <p>RETINA RESOLUTION<br /> MOBILE RESPONSIVE<br /> The importance of high-resolution for large screen Retina rendering, was of valuable to this artist. A user-friendly experience for smartphones and tablets allowed easy access to a vast portfolio of Rick Maxwell's work.</p>
                                        <h5><a href="http://rickmaxwell.net/" target="_blank" class="btn btn-eight" role="button">visit website</a></h5>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </article>
                </div>
            </section>
            <!--NATALIE.MACELLAIO-->
            <section>
                <div class="row">
                    <article class="col-md-12 showcase-single-content shadow">
                        <div class="row">
                            <article class="col-md-8 text-left showcase-single-item-wrap">
                                <div class="showcase-single-item">
                                    <div class="showcase-single-item-inner text-center">
                                        <h1 class="add-top-quarter sub-heading"><span>NATALIE MACELLAIO - ARTIST</span></h1>
                                        <img class="img-responsive" alt="Natalie Macellaio - website home page" src="~/img/natalie-1.jpg" />
                                    </div>
                                </div>
                            </article>
                            <article class="col-md-4 text-left showcase-single-item-wrap add-top-quarter">
                                <div class="showcase-single-item">
                                    <div class="showcase-single-item-inner text-left">
                                        <h3 class="sub-heading">WEB APPLICATION</h3>
                                        <p>Natalie Macellaio is a Professor of Sculpture at Brookhaven Community College in Dallas, Texas. She also is a co-creator of <a href="http://themotherload.org">"The Mother Load Project"</a>, a network of Professional Artists, who are also Mothers.  </p>
                                        <p>WEB APPLICATION <br /> </p>
                                        <p>2018</p>
                                        <p>PORTFOLIO FILTER<br /> MOBILE RESPONSIVE <br /> The multi-facets of Natalie's metal sculpting creations and themed gallery exhibits are shown directly on her home page allowing visitors select thier area of interest quickly. </p>
                                        <h5><a href="http://natalie.macellaio.net/" target="_blank" class="btn btn-eight" role="button">visit website</a></h5>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </article>
                </div>
            </section>                                 
            <!--Susan Mollet-->
            <section>
                <div class="row">
                    <article class="col-md-12 showcase-single-content shadow">
                        <div class="row">
                            <article class="col-md-8 text-left showcase-single-item-wrap">
                                <div class="showcase-single-item">
                                    <div class="showcase-single-item-inner text-center">
                                        <h1 class="add-top-quarter sub-heading"><span>Susan Mollet - artist</span></h1>
                                        <img class="img-responsive" alt="Susan Mollet - website home page" src="~/img/susanMollet.jpg" />
                                    </div>
                                </div>
                            </article>
                            <article class="col-md-4 text-left showcase-single-item-wrap add-top-quarter">
                                <div class="showcase-single-item">
                                    <div class="showcase-single-item-inner text-left">
                                        <h3 class="sub-heading">WEB APPLICATION</h3>
                                        <p>"In my ceramic pieces, art does reflect life...my life. I am influenced by both daily situations and life changing events and the clay is my medium of expression." <br />Susan Mollet</p>
                                        <p>HTML5 CSS3<br /> ANIMATION TRANSITIONS<br /> ONE-PAGE PARALLAX SCROLLING<br /> Susan's featured art pieces tell her story. it was important to see all sides of her work. When hovering over most of her pieces, they animate to a flip on the back/front side, many times displaying close detail. Parallax srolling renders interesting dimension from one category of work to another.</p>
                                        <p>2015</p>
                                        <h5><a href="http://www.susanmollet.com/" target="_blank" class="btn btn-eight" role="button">visit website</a></h5>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </article>
                </div>
            </section> 
            <!--Marjorie-->
            <section>
                <div class="row">
                    <article class="col-md-12 showcase-single-content shadow">
                        <div class="row">
                            <article class="col-md-8 text-left showcase-single-item-wrap">
                                <div class="showcase-single-item">
                                    <div class="showcase-single-item-inner text-center">
                                        <h1 class="add-top-quarter sub-heading"><span>MARJORIE NICHOLS POTTERY</span></h1>
                                        <img class="img-responsive" alt="marjorie Nichols - website home page" src="~/img/marjorie.jpg" />
                                    </div>
                                </div>
                            </article>
                            <article class="col-md-4 text-left showcase-single-item-wrap add-top-quarter">
                                <div class="showcase-single-item">
                                    <div class="showcase-single-item-inner text-left">
                                        <h3 class="sub-heading">WEB APPLICATION</h3>                        
                                        <p>Many friends and astists from around the world have asked to purchase Marjorie's functional pieces.  This website features her latest artistic collection with identifying "SELL ITEM" labels. </p>
                                        <p>2018</p>
                                        <p>PORTFOLIO FILTER<br /> MOBILE RESPONSIVE <br /> PURCHASE ART PIECES </p>
                                        <h5><a href="http://marjorienicholspottery.net/" target="_blank" class="btn btn-eight" role="button">visit website</a></h5>
                                    </div>
                                </div>
                            </article>
                        </div>
                    </article>
                </div>
            </section> 
        </div>
    </div>
</section>
     
 
 