<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Tosca Ragnini / Freelance Website Development and Design</title>
    <meta name="description" content="Freelance Website Development and Design for small business/start-ups/personal" />
    <meta name="keywords" content="Tosca Ragnini - freelance web designer, web master, website producer, small business web designer" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="equiv="X-UA-Compatible" content="IE+edge" />
    <meta name="author" content="tosca ragnini" />
    <link rel="shortcut icon" type="image/png" href="/favicon.png" />
    <link rel="apple-touch-icon" sizes="57x57" href="~/apple-touch-icon.png" />
    <link rel="apple-touch-icon" sizes="72x72" href="~/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon" sizes="114x114" href="~/apple-touch-icon-114x114.png" />
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css">
     <link href="~/css/jquery.bxslider.css" rel="stylesheet" type="text/css">
    <link href="~/css/kenburns.css" rel="stylesheet" type="text/css">
    <link href="~/css/onepage-scroll.css" rel="stylesheet" type="text/css">
    <link href="~/css/animate.css" rel="stylesheet" type="text/css">
    <link href="~/css/main.css" rel="stylesheet" type="text/css">
    <link href="~/css/main-responsive.css" rel="stylesheet" type="text/css">   
</head>
<body>
    <header class="text-center">
        <img class="img-responsive" alt="Prairie Path Consulting - webdesign" src="~/img/ppc-banner.jpg" />
    </header>
    <div class="mastwrap">
      
        <script>
            paypal.Button.render({
                // Configure environment
                env: 'sandbox',
                client: {
                    sandbox: 'demo_sandbox_client_id',
                    production: 'demo_production_client_id'
                },
                // Customize button (optional)
                locale: 'en_US',
                style: {
                    size: 'small',
                    color: 'gold',
                    shape: 'pill',
                },

                // Enable Pay Now checkout flow (optional)
                commit: true,

                // Set up a payment
                payment: function (data, actions) {
                    return actions.payment.create({
                        transactions: [{
                            amount: {
                                total: '0.01',
                                currency: 'USD'
                            }
                        }]
                    });
                },
                // Execute the payment
                onAuthorize: function (data, actions) {
                    return actions.payment.execute().then(function () {
                        // Show a confirmation message to the buyer
                        window.alert('Thank you for your purchase!');
                    });
                }
            }, '#paypal-button');

        </script>
        @RenderBody()
        <footer>
            <div class="container">
                <div class="row">
                    <div class="text-center logo-bg">
                        <img class="img-responsive" alt="about Tosca Ragnini" src="~/img/aboutus.jpg" />
                    </div>
                 <article class="col-md-12 showcase-single-content" style="margin-top:0">
                         <div class="row">
                             <article class="col-md-6 text-left showcase-single-item-wrap add-top-quarter">
                                <div class="showcase-single-item">
                                    <div class="showcase-single-item-inner text-left">
                                        <h1 class="sub-heading text-center">tosca ragnini</h1>
                                        <h3 class="sub-heading"><br />path<img src="~/favicon.png" />trackrecord</h3>
                                        <img class="img-responsive" src="~/img/done.jpg" />
                                        <h3 class="sub-heading add-top-quarter"><br />long, long experience</h3>
                                        <img class="img-responsive" src="~/img/know.jpg" />
                                    </div>
                                </div>
                            </article>
                            <article class="col-md-6 text-left showcase-single-item-wrap add-top-quarter">
                                <div class="showcase-single-item">
                                    <div class="showcase-single-item-inner text-left">
                                        <h1 class="sub-heading  text-center">web master</h1>
                                        <h3 class="sub-heading"><br />branding, brochure</h3>
                                        <img class="img-responsive" src="~/img/help.jpg" />
                                        <h3 class="sub-heading add-top-quarter"><br />up close and personal</h3>
                                        <img class="img-responsive" src="~/img/cares.jpg" />
                                    </div>
                                </div>
                            </article>
                        </div>                                                
                        <div class="row">
                            <article class="col-md-6 text-left showcase-single-item-wrap">
                                <div class="showcase-single-item">
                                    <div class="showcase-single-item-inner text-left">
                                        <div class="contact-form-wrap">
                                            <div class="contact-item pad-common img-responsive">
                                                <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSeY_6Z7griH-ICszWbweU20678ef7ShndCI6nfUpVJkQnyQ2Q/viewform?embedded=true" width="100%" height="828" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </article>
                            <article class="col-md-6 text-center showcase-single-item-wrap">
                                <h2 class="sub-heading">
                                    <a href="mailto:tosca.ragnini@gmail.com"> tosca.ragnini@gmail.com</a>
                                </h2>
                                <h3> 630.248.1990</h3>
                                <h5 class="font2 black">Your personal portfolio, start-up or small business has been my focus, since 2003.  You too can have a personalized website presence &mdash;Just Ask! </h5>

                                <h3>Select a Website Service</h3>
                                <table>
                                    <tr>
                                        <th>$1800</th>
                                        <th class="font2 black text-left">Small Business - eCommerce Website</th>
                                        <th>
                                            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" style="width:120px" target="_top">
                                                <input type="hidden" name="cmd" value="_s-xclick">
                                                <input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHfwYJKoZIhvcNAQcEoIIHcDCCB2wCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYCOJbJrKkwY++FckAxwJqfPuewLW27KzeYhe4XwCmd0Ta7gk+pWKH5isFMa9hCWWQ1pMwHkhxfuAQs4Fips18d+K73bL9Gw5cSmj0E+inE3IqenRIHNFE+8qjMVZCXltUW0KDEpmSKo2MHC2yH4f/I5M6JVDEFUp/jdRZ3aRdXDJjELMAkGBSsOAwIaBQAwgfwGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQIfXM89zah5IWAgdgapHCffTd1frjrp2e75LqOEWyqELhcHzwgPw4Ho0jAgBeZLMaOQLJuwQTbMoB2iNddFoiRGEaWH0YRtRf25NnqVeEPAYZdRYKI5i5FX9MTpUpk9TYbt6CAucp4BYDqsgtLdfloItqiN6IerA4z/Av37i6ZmUB5aFL2dQ24HIuYhWxHZsUlqXhlnPsUarDDrXCzXi/zQL0hPYCIWQzR/ml/sQOSGdJ6oRcSmE79Or+Kk+SXRP5+kDtFeiVhK9V1w9gTDe3fZ8K9qpLnNtNfgIhdw3fTj0BxZpGgggOHMIIDgzCCAuygAwIBAgIBADANBgkqhkiG9w0BAQUFADCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wHhcNMDQwMjEzMTAxMzE1WhcNMzUwMjEzMTAxMzE1WjCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wgZ8wDQYJKoZIhvcNAQEBBQADgY0AMIGJAoGBAMFHTt38RMxLXJyO2SmS+Ndl72T7oKJ4u4uw+6awntALWh03PewmIJuzbALScsTS4sZoS1fKciBGoh11gIfHzylvkdNe/hJl66/RGqrj5rFb08sAABNTzDTiqqNpJeBsYs/c2aiGozptX2RlnBktH+SUNpAajW724Nv2Wvhif6sFAgMBAAGjge4wgeswHQYDVR0OBBYEFJaffLvGbxe9WT9S1wob7BDWZJRrMIG7BgNVHSMEgbMwgbCAFJaffLvGbxe9WT9S1wob7BDWZJRroYGUpIGRMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbYIBADAMBgNVHRMEBTADAQH/MA0GCSqGSIb3DQEBBQUAA4GBAIFfOlaagFrl71+jq6OKidbWFSE+Q4FqROvdgIONth+8kSK//Y/4ihuE4Ymvzn5ceE3S/iBSQQMjyvb+s2TWbQYDwcp129OPIbD9epdr4tJOUNiSojw7BHwYRiPh58S1xGlFgHFXwrEBb3dgNbMUa+u4qectsMAXpVHnD9wIyfmHMYIBmjCCAZYCAQEwgZQwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tAgEAMAkGBSsOAwIaBQCgXTAYBgkqhkiG9w0BCQMxCwYJKoZIhvcNAQcBMBwGCSqGSIb3DQEJBTEPFw0xOTA1MjQwMDI0NDdaMCMGCSqGSIb3DQEJBDEWBBQtSiKW/4cwUbt74x1+AHfV49IYnDANBgkqhkiG9w0BAQEFAASBgFpGNz+ORp7sjfv/bTH98el0lDqapODNCNOrla2Oi12K8UzG2TzDrL+T4ingVaTJB2OMZzoSxJNjkPhTwG6tbTuYxqrZq3/YfyREO13tH214+s5afq/G8cecps8JPgYkNyXgm3c0u5+B6DlP0g7gy8bowMJxKpQDzUIB+rKGPxf4-----END PKCS7-----">
                                                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                                                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                                            </form>
                                        </th>
                                    </tr>
                                    <tr>
                                        <th> $600</th>
                                       <th class="font2 black text-left">Personal Portfolio Website</th>
                                        <th>
                                            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" style="width:120px" target="_top">
                                                <input type="hidden" name="cmd" value="_s-xclick">
                                                <input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHdwYJKoZIhvcNAQcEoIIHaDCCB2QCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYBBVqEAr55b0B1YBMz+U0BTqYnMKN9aKeps3gKnPo+ENDMFszPBoP+gpgUFVXQPjcd9xVivd9AIFfvKlICWEGdeD9yxvB++HU8cynTi+5CNhwSAu/xuHZEp1YKEBNSW4cRQTX4kyCBHfoGMr5uXlGt+G22KzGX+l9ccbN91xuc33DELMAkGBSsOAwIaBQAwgfQGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQISGQjCe4QbOWAgdDnITLt+nKcLLeutQME+nagovQkJReVmpJzfXr0IdD8L86p57GG3EwNLM3AZT3B8CIx9OrCEe+AZMxNlDUQmEyqhNYyo+3q6irbBDHSOSnMDL/2PF6ygPxaPPwmv82Ws5AWHzxdYRZD1ox4fMoyG5ufnnOJuVwxQo0TSnIR/2yKCDgJ+cfYycKmliAtWbB4XJJn4Oewq4+K+otzuT7niGnehSAOgGp5HRh6JfJ+32TRX/c0679YkWB0KQ6CKPxD1ayWiGrSoYz9VePheL1zATBVoIIDhzCCA4MwggLsoAMCAQICAQAwDQYJKoZIhvcNAQEFBQAwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMB4XDTA0MDIxMzEwMTMxNVoXDTM1MDIxMzEwMTMxNVowgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDBR07d/ETMS1ycjtkpkvjXZe9k+6CieLuLsPumsJ7QC1odNz3sJiCbs2wC0nLE0uLGaEtXynIgRqIddYCHx88pb5HTXv4SZeuv0Rqq4+axW9PLAAATU8w04qqjaSXgbGLP3NmohqM6bV9kZZwZLR/klDaQGo1u9uDb9lr4Yn+rBQIDAQABo4HuMIHrMB0GA1UdDgQWBBSWn3y7xm8XvVk/UtcKG+wQ1mSUazCBuwYDVR0jBIGzMIGwgBSWn3y7xm8XvVk/UtcKG+wQ1mSUa6GBlKSBkTCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb22CAQAwDAYDVR0TBAUwAwEB/zANBgkqhkiG9w0BAQUFAAOBgQCBXzpWmoBa5e9fo6ujionW1hUhPkOBakTr3YCDjbYfvJEiv/2P+IobhOGJr85+XHhN0v4gUkEDI8r2/rNk1m0GA8HKddvTjyGw/XqXa+LSTlDYkqI8OwR8GEYj4efEtcRpRYBxV8KxAW93YDWzFGvruKnnLbDAF6VR5w/cCMn5hzGCAZowggGWAgEBMIGUMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbQIBADAJBgUrDgMCGgUAoF0wGAYJKoZIhvcNAQkDMQsGCSqGSIb3DQEHATAcBgkqhkiG9w0BCQUxDxcNMTkwNTI0MDAyODM0WjAjBgkqhkiG9w0BCQQxFgQUYYH+4/hdXDJbJZckDn/crqX/63QwDQYJKoZIhvcNAQEBBQAEgYCPZ3U7YnuJr1XoBZRpIc2sBgG6sBepXgreyirYgjIgAkkydtGUHfCtJQ+EyiB9k7Y6x1RKX82osjEJncqKLdVmEkzSCoTp1CZMRpofvNOUQ6AeMvJu8teOGEePho5vYxsskYv5CAKe18N9b2v6MJG53WnEYZ5mtHSZO0OAjfyHyQ==-----END PKCS7-----">
                                                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                                                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                                            </form>
                                        </th> 
                                    </tr>
                                    <tr>
                                        <th> $800</th>
                                        <th class="font2 black text-left">Personal, Portfolio, Pricing, and Order Form Website</th>
                                        <th>
                                            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" style="width:120px" target="_top">
                                                <input type="hidden" name="cmd" value="_s-xclick">
                                                <input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHdwYJKoZIhvcNAQcEoIIHaDCCB2QCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYAjDjgSBBpl2Kg52Qa44yTReAAtV/4zA8NvwDhIpEp0nP7iXJ/KQINAUAEnz9fG5kFYAryQdg9Gj5Mik2ZoCd64SMSjLGxZD02SA+oDs3tz9XeYc99t3Dw5442NUsYMrsy/oKT+MuGdSoCz54At+flb3pb47lDa7KXpSI27ZHeKGTELMAkGBSsOAwIaBQAwgfQGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQIwHiOcFPQGs6AgdAEMCURMx25zwJxjnmSTaxLluz0fY6mOdjJ29ScOMJ58i8MQ5u3XX7cYW2x/Jk+e0l0VX9sbv/8wbAbrP/SA0LydhxeyB7bEfXEw1QReRSpqymC9Q9IK71st7f3Sge2Yr/VHkcvELAnHPO2nKNvFPdeauw7w44TPhAdNHzbyRkQJ0WadD8hOvkRWfYoLRwbpOGkBdsu9LhLvvm37/csIkPz6MxWgCUwDqYMXokTIMBtspFBe7f74d6HoRydrUQB37OqJCsibstfefVujdCXcCrgoIIDhzCCA4MwggLsoAMCAQICAQAwDQYJKoZIhvcNAQEFBQAwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMB4XDTA0MDIxMzEwMTMxNVoXDTM1MDIxMzEwMTMxNVowgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQDBR07d/ETMS1ycjtkpkvjXZe9k+6CieLuLsPumsJ7QC1odNz3sJiCbs2wC0nLE0uLGaEtXynIgRqIddYCHx88pb5HTXv4SZeuv0Rqq4+axW9PLAAATU8w04qqjaSXgbGLP3NmohqM6bV9kZZwZLR/klDaQGo1u9uDb9lr4Yn+rBQIDAQABo4HuMIHrMB0GA1UdDgQWBBSWn3y7xm8XvVk/UtcKG+wQ1mSUazCBuwYDVR0jBIGzMIGwgBSWn3y7xm8XvVk/UtcKG+wQ1mSUa6GBlKSBkTCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb22CAQAwDAYDVR0TBAUwAwEB/zANBgkqhkiG9w0BAQUFAAOBgQCBXzpWmoBa5e9fo6ujionW1hUhPkOBakTr3YCDjbYfvJEiv/2P+IobhOGJr85+XHhN0v4gUkEDI8r2/rNk1m0GA8HKddvTjyGw/XqXa+LSTlDYkqI8OwR8GEYj4efEtcRpRYBxV8KxAW93YDWzFGvruKnnLbDAF6VR5w/cCMn5hzGCAZowggGWAgEBMIGUMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbQIBADAJBgUrDgMCGgUAoF0wGAYJKoZIhvcNAQkDMQsGCSqGSIb3DQEHATAcBgkqhkiG9w0BCQUxDxcNMTkwNTI0MDIxNTIwWjAjBgkqhkiG9w0BCQQxFgQUFqttCmuRZIhelvTMSwYO5bAVuR0wDQYJKoZIhvcNAQEBBQAEgYC8yH7DodOa5ikgEpmrzYPhdCTD679+0ekHS/nqp/awlj6dDhgC0WTI6zI50+RivKEQ689icusWfD5N8CPPCIJj2pTsNb9DJKm2W77hBCQmhI34PaEZskabaExbhql9S5H7r4IQyYDNwLPvF+UCZrDNzp0Jl7fpq9KBWDYdMWSPOg==-----END PKCS7-----">
                                                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                                                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                                            </form>
                                        </th>
                                        </tr>
                                    <tr>
                                        <th> $500</th>
                                        <th class="font2 black text-left">New Website for Existing Client</th>
                                        <th>
                                            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" style="width:120px" target="_top">
                                                <input type="hidden" name="cmd" value="_s-xclick">
                                                <input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHZwYJKoZIhvcNAQcEoIIHWDCCB1QCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYBlNE2zwrZvs7DAPkk96SxHsMMcHAuTP7//fYVOfeHqfq9WSyS/JCB5Icao+M8OVS2bvRrYhBTfFpSvtih1GE42n156VvobXQQ7BFHa/Om5z/IxO7Mxrtgh4sNQOZ87WDTc5dcANMJygBC5e4RynamX5QZjTObWTcbM2GqV5qFgsTELMAkGBSsOAwIaBQAwgeQGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQIvz4ZGqmzCoCAgcCK+9x4uHJBPXrPHWLcm+8enDaNBrlv0p3rN9h6tqooOMLOvkWgfIo0SRI122J+NlWsd+pOMKeLsBi1l6oPHYF3n6UKdFWowewnoZxPQzfh+pNZJm92JSVoP4b/9Zhsz9U6pPNb5o9L3XMhCMlfKYVuGE6+aBeZLwoDDBgZ3QfeplOkFrNsemDCGMdTOkXL3dH4JCv8vtUDPTWG9syuDeosu3ZZ9800NWrEOQh7dt2DkSZ2Y4vzqJgTzaQ7bQajMGegggOHMIIDgzCCAuygAwIBAgIBADANBgkqhkiG9w0BAQUFADCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wHhcNMDQwMjEzMTAxMzE1WhcNMzUwMjEzMTAxMzE1WjCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wgZ8wDQYJKoZIhvcNAQEBBQADgY0AMIGJAoGBAMFHTt38RMxLXJyO2SmS+Ndl72T7oKJ4u4uw+6awntALWh03PewmIJuzbALScsTS4sZoS1fKciBGoh11gIfHzylvkdNe/hJl66/RGqrj5rFb08sAABNTzDTiqqNpJeBsYs/c2aiGozptX2RlnBktH+SUNpAajW724Nv2Wvhif6sFAgMBAAGjge4wgeswHQYDVR0OBBYEFJaffLvGbxe9WT9S1wob7BDWZJRrMIG7BgNVHSMEgbMwgbCAFJaffLvGbxe9WT9S1wob7BDWZJRroYGUpIGRMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbYIBADAMBgNVHRMEBTADAQH/MA0GCSqGSIb3DQEBBQUAA4GBAIFfOlaagFrl71+jq6OKidbWFSE+Q4FqROvdgIONth+8kSK//Y/4ihuE4Ymvzn5ceE3S/iBSQQMjyvb+s2TWbQYDwcp129OPIbD9epdr4tJOUNiSojw7BHwYRiPh58S1xGlFgHFXwrEBb3dgNbMUa+u4qectsMAXpVHnD9wIyfmHMYIBmjCCAZYCAQEwgZQwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tAgEAMAkGBSsOAwIaBQCgXTAYBgkqhkiG9w0BCQMxCwYJKoZIhvcNAQcBMBwGCSqGSIb3DQEJBTEPFw0xOTA1MjQwMjE4MzJaMCMGCSqGSIb3DQEJBDEWBBRPHiv//bL/mO5zxsRo6k5KU9xziDANBgkqhkiG9w0BAQEFAASBgE8ejrBk92tRUbL1oRpX5Oor/5WnYZ1QSVoE7KS+1fhLNYyPLxV3X12hBCL6BR/ucqCBGLH7ydorFzv/5idLBgMCGleUStoq5aOChFe+rxnS2cj9Ln/m6VNVjNUU4gp4OiJYlPCYH+Absn8D1D5HbagBk+NjeSxLLy6H4+uVDYPq-----END PKCS7-----">
                                                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                                                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                                            </form>
                                        </th>
                                    </tr>
                                    <tr>
                                        <th> $300</th>
                                        <th class="font2 black text-left">Major Updates for Existing Client</th>
                                        <th>
                                            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" style="width:120px" target="_top">
                                                <input type="hidden" name="cmd" value="_s-xclick">
                                                <input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHZwYJKoZIhvcNAQcEoIIHWDCCB1QCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYCKmJyoYGBibiKof44/SYLYUvhg6fyJ00KV0FZNRpCXyBFsKk8c7gl4Y3FRDNoYeVCDAxc3RfgZQugptWKSuN5fOowS78c5SyMCr4sYlfv9yh4OA7CJDp1P9YPU5eRgQrdsBEX1gBXFD5zyAASbfOaYRTIuwV9+H025RwpTouDoGTELMAkGBSsOAwIaBQAwgeQGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQIuPM33Xi5Y/mAgcA1rifJl4wQcF/HNBunZ+1l41jxbaZ09WvSXdXVCmUmDe2yxuYJcRa/TVIaoNXFUnXNvaSinSMEEaIILI36WbDRn/8//Lxjul/SIDvEpfrwVZoDJiXpfapH5CbG4cQQ13/ujLaPBi2vEL7y++YePnTA7cEY6oFoC4ipdqX+OpZrkjO4iMk6m+7/zUYK8yRT5KGE3ZqtxvZoaz2Jv41Wl7nw23f3aWj8TFeDKnsLyb/puVZ1QwFPGZqDja1kF1XW/lWgggOHMIIDgzCCAuygAwIBAgIBADANBgkqhkiG9w0BAQUFADCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wHhcNMDQwMjEzMTAxMzE1WhcNMzUwMjEzMTAxMzE1WjCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wgZ8wDQYJKoZIhvcNAQEBBQADgY0AMIGJAoGBAMFHTt38RMxLXJyO2SmS+Ndl72T7oKJ4u4uw+6awntALWh03PewmIJuzbALScsTS4sZoS1fKciBGoh11gIfHzylvkdNe/hJl66/RGqrj5rFb08sAABNTzDTiqqNpJeBsYs/c2aiGozptX2RlnBktH+SUNpAajW724Nv2Wvhif6sFAgMBAAGjge4wgeswHQYDVR0OBBYEFJaffLvGbxe9WT9S1wob7BDWZJRrMIG7BgNVHSMEgbMwgbCAFJaffLvGbxe9WT9S1wob7BDWZJRroYGUpIGRMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbYIBADAMBgNVHRMEBTADAQH/MA0GCSqGSIb3DQEBBQUAA4GBAIFfOlaagFrl71+jq6OKidbWFSE+Q4FqROvdgIONth+8kSK//Y/4ihuE4Ymvzn5ceE3S/iBSQQMjyvb+s2TWbQYDwcp129OPIbD9epdr4tJOUNiSojw7BHwYRiPh58S1xGlFgHFXwrEBb3dgNbMUa+u4qectsMAXpVHnD9wIyfmHMYIBmjCCAZYCAQEwgZQwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tAgEAMAkGBSsOAwIaBQCgXTAYBgkqhkiG9w0BCQMxCwYJKoZIhvcNAQcBMBwGCSqGSIb3DQEJBTEPFw0xOTA1MjQwMjIwMjJaMCMGCSqGSIb3DQEJBDEWBBSOS6u5DatFk5f9fAjrr6A8pIhtLzANBgkqhkiG9w0BAQEFAASBgI6WAWJMkzL+gJr4R7mtIOt78HrRm/k1BabCrQKvswl0EZaBj3u0OvjVAtAY2oJRy8eZrw9WJ+FrXQlySfg7+sw66rPGEPDQ6+/6eQR2fryjik7Dio9wxNEsd8qKsMj0PejJQMPUWlGGxWAFd4/kkZTNhhdy5DiwC2yJodMmgpSo-----END PKCS7-----">
                                                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                                                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                                            </form>
                                        </th>
                                     </tr>
                                    <tr>
                                        <th> $200</th>
                                        <th class="font2 black text-left">Additional Features for Existing Client</th>
                                        <th>
                                            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" style="width:120px" target="_top">
                                                <input type="hidden" name="cmd" value="_s-xclick">
                                                <input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHbwYJKoZIhvcNAQcEoIIHYDCCB1wCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYBmlXwvxx3zygpbNZRC2LZ5AtdUWtUef2juVQrcttb9+KbIGDgd2BoB0/lEgDahwi2ZYBtTtIaSuJOAF8BSznyiEAws1pZtyG22Iy0LuHdkp6/FPHt93NKQA+fcLqq2B8syld/bAU33yEVqhkTDqkmV+YeiljDDOUNnqlagDNBb9zELMAkGBSsOAwIaBQAwgewGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQIo/09YyUSRJKAgcipdFIpO+ZMul0FQ5MoPdp1gbbxFs8jhsoM5uMQyxYk77eZcX90rw5Jif6swR3gT1kYCeUnrTgzJG5DxbFrvexgqNzAJqpM9ykQIK2FT4+iL8pDrv1XRw2m2f1NbyuqPR+RvF0+YcdAE7Fi4unDuFCOBDAgp4Gh0yeAYFuVWtQdxE6BlsPG2ToQg05kVf984lwC8YXJePZDvSAqPQpQwQ37rhaKDSHMrOjN0V5qxfEgH5thaiXRxhkE3CR9PA7bQ7rEh4J1EFgKzqCCA4cwggODMIIC7KADAgECAgEAMA0GCSqGSIb3DQEBBQUAMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbTAeFw0wNDAyMTMxMDEzMTVaFw0zNTAyMTMxMDEzMTVaMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbTCBnzANBgkqhkiG9w0BAQEFAAOBjQAwgYkCgYEAwUdO3fxEzEtcnI7ZKZL412XvZPugoni7i7D7prCe0AtaHTc97CYgm7NsAtJyxNLixmhLV8pyIEaiHXWAh8fPKW+R017+EmXrr9EaquPmsVvTywAAE1PMNOKqo2kl4Gxiz9zZqIajOm1fZGWcGS0f5JQ2kBqNbvbg2/Za+GJ/qwUCAwEAAaOB7jCB6zAdBgNVHQ4EFgQUlp98u8ZvF71ZP1LXChvsENZklGswgbsGA1UdIwSBszCBsIAUlp98u8ZvF71ZP1LXChvsENZklGuhgZSkgZEwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tggEAMAwGA1UdEwQFMAMBAf8wDQYJKoZIhvcNAQEFBQADgYEAgV86VpqAWuXvX6Oro4qJ1tYVIT5DgWpE692Ag422H7yRIr/9j/iKG4Thia/Oflx4TdL+IFJBAyPK9v6zZNZtBgPBynXb048hsP16l2vi0k5Q2JKiPDsEfBhGI+HnxLXEaUWAcVfCsQFvd2A1sxRr67ip5y2wwBelUecP3AjJ+YcxggGaMIIBlgIBATCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwCQYFKw4DAhoFAKBdMBgGCSqGSIb3DQEJAzELBgkqhkiG9w0BBwEwHAYJKoZIhvcNAQkFMQ8XDTE5MDUyNDAyMjIyMlowIwYJKoZIhvcNAQkEMRYEFDA2xuyg45GrqCNvKIJhYQyfVDYBMA0GCSqGSIb3DQEBAQUABIGADNCTYnrvHdB2q3pVwCHmU2eDNlKZh3OMnbPFZmU/LQX8p7zB88lG1sfD1zCRZc6HTZAaeYSQAevp5XICyXXQo4P+TuGhUnXYJcJC0e16YTbvUGAdy5imW58gCub9BBEFhgxoRy4OPAE3Lf+0c7sqKZSJU5bMoUDNXAyosrDuV/A=-----END PKCS7-----">
                                                <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
                                                <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
                                            </form>
                                        </th>
                                    </tr>
                                </table>

                                  
                                    <div id="paypal-button-container"> </div>

                                    <div class="frame5">
                                        <img class="img-responsive" alt="bicycling on the prairie path" src="~/img/nickbike.jpg" />
                                    </div><div class="row">
                                        <div class="col-xs-12">
                                            <div class="col-xs-5">
                                                <h4 class="sub-heading text-center">nJoy your website path to adventure!</h4>
                                            </div>
                                            <div class="col-xs-7 text-right">
                                                <p>
                                                    <script type="text/javascript">document.write(new Date().getFullYear());</script>
                                                    &mdash; Tosca Ragnini<br /> (Prairie Path Counsulting)
                                                </p>
                                            </div>
                                        </div>
                                    </div>

</article>
                        </div>
                </article>                     
               </div>
           </div>
        </footer>
    </div>   
    @RenderSection("scripts", required: false)
   
    <script src="~/Scripts/jquery.min.js" type="text/javascript"></script>
    <script src="~/Scripts/bootstrap.min.js" type="text/javascript"></script>
   <script src="~/Scripts/jquery.touchSwipe.js" type="text/javascript"></script>
   <script src="~/Scripts/equalheights.js" type="text/javascript"></script>
    <script src="~/Scripts/equalheights-init.js" type="text/javascript"></script>
    <script src="~/Scripts/kenburns.js" type="text/javascript"></script>
    <script src="~/Scripts/jquery.bxslider.min.js" type="text/javascript"></script>
    <script src="~/Scripts/main.js" type="text/javascript"></script>
    
    <script type="text/javascript">
         var titles = ["tosca ragnini</br>creative code developer", "tosca ragnini</br>freelance website publisher"];
        $(document).ready(function () {
            $('#kenburns-slideshow').Kenburns({
                images: [
                    "../img/image1.jpg",
                    "../img/image3.jpg",
                ],
                scale: 0.75,
                duration: 8000,
                fadeSpeed: 1200,
                ease3d: 'cubic-bezier(0.445, 0.050, 0.550, 0.950)',

                onSlideComplete: function () {
                    $('#slide-title').html(titles[this.getSlideIndex()]);
                }
            });
        });
    </script>
    <script>
        
            $('.bxslider').bxSlider({
                preloadImages: 'visible',
                touchEnabled: true,
                responsive: true,
                pager: false,
                controls: true
            });
       
    </script>

    <script src="https://www.paypal.com/sdk/js?client-id=AQM4R88ilhfeYmum053KOmdEmw5_JZp6BTeTEBkWDu-VuUgDlzY6taRaAYb7gYK-Fys25lh5QHrEdZdA&commit=true&components=buttons"></script>
 <!--  <script>paypal.Buttons().render('#paypal-button-container');</script>-->
     <script>
        paypal.Buttons({
            createOrder: function (data, actions) {
                return actions.order.create({
                    purchase_units: [{
                        amount: {
                            value: '0.01'
                        }
                    }]
                });
            },
            onApprove: function (data, actions) {
                return actions.order.capture().then(function (details) {
                    alert('Transaction completed by ' + details.payer.name.given_name);
                    // Call your server to save the transaction
                    return fetch('/paypal-transaction-complete', {
                        method: 'post',
                        headers: {
                            'content-type': 'application/json'
                        },
                        body: JSON.stringify({
                            orderID: data.orderID
                        })
                    });
                });
            }
        }).render('#paypal-button-container');
    </script>
</body>
</html>

