
.open-nav .mobile-toggle {
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -webkit-transition: all .4s ease-in-out;
     -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
     -o-transition: all .4s ease-in-out;
      transition: all .4s ease-in-out;
}



.mobile-toggle {
  cursor: pointer;
  font-size: 20px;
  position: absolute;
  right: 20px;
  top:48%;
  width: 30px;
  -webkit-transition: all .4s ease-in-out;
     -moz-transition: all .4s ease-in-out;
    -ms-transition: all .4s ease-in-out;
     -o-transition: all .4s ease-in-out;
      transition: all .4s ease-in-out;
}
.mobile-toggle span {
  width: 30px;
  height: 2px;
  margin-bottom: 6px;
  background: #000;
  display: block;
}
